body {
    background-color: #f8f9fa;
}

.dropdown-menu {
    z-index: 2000;
}

nav.navbar {
    width: 100vw !important;
    left: 0;
    right: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 0 !important;
}